/* bright */
.gradient-bg {
  background: linear-gradient(338.96deg, rgba(0, 0, 0, 0.2) -18.99%, rgba(0, 0, 0, 0) 25.34%),
    linear-gradient(300.08deg, #7093ff 7.6%, #3B63F3 64.93%);
  /* transform: rotate(-89.79deg); */
}
